<wizard #wizard>
  <wizard-step stepTitle="Steptitle 1">
    <div class="centered-content">
      <div>
        Content: Step 1
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Steptitle 2">
    <div class="centered-content">
      <div>
        Content: Step 2
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-completion-step stepTitle="Completion steptitle" enableBackLinks>
    <div class="centered-content">
      <div>
        Completion step content
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" goToStep="0">Go to first step</button>
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
      </div>
    </div>
  </wizard-completion-step>
</wizard>
