<wizard #wizard>
  <wizard-step stepTitle="Steptitle 1">
    <div class="centered-content">
      <div>
        Content: Step 1
      </div>

      <div>
        The wizard has been reset {{resetCount}} times.
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Steptitle 2">
    <div class="centered-content">
      <div>
        Content: Step 2
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" resetWizard (finalize)="finalizeReset()">Reset</button>
      </div>
    </div>
  </wizard-step>
</wizard>
