<aw-wizard #wizard>
  <aw-wizard-step [stepTitle]="'Steptitle 1'">
    <div class="centered-content">
      <div>
        Content: Step 1
      </div>

      <div>
        The wizard has been reset {{resetCount}} times.
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Steptitle 2'">
    <div class="centered-content">
      <div>
        Content: Step 2
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awResetWizard (finalize)="finalizeReset()">Reset</button>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
