<wizard #wizard navBarLayout="large-empty-symbols">
  <wizard-step stepTitle="Steptitle 1" navigationSymbol="1">
    <div class="centered-content">
      <div>
        Content: Step 1
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Steptitle 2" navigationSymbol="S">
    <div class="centered-content">
      <div>
        Content: Step 2
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Steptitle 3" navigationSymbol="End">
    <div class="centered-content">
      <div>
        Content: Step 3
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="button" class="btn btn-secondary" resetWizard>Reset</button>
      </div>
    </div>
  </wizard-step>
</wizard>

