<wizard #wizard>
  <wizard-step title="Steptitle 1">
    <ng-template wizardStepTitle>
      Steptitle 1
    </ng-template>

    <div class="centered-content">
      <div>
        Content: Step 1
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step title="Steptitle 2">
    <ng-template wizardStepTitle>
      <span class="d-none d-md-block" style="color:red;">Steptitle 2</span>
      <span class="d-md-none">Title 2</span>
    </ng-template>

    <div class="centered-content">
      <div>
        Content: Step 2
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step title="Steptitle 3">
    <ng-template wizardStepTitle>
      Steptitle 3
    </ng-template>

    <div class="centered-content">
      <div>
        Content: Step 3
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="button" class="btn btn-secondary" (click)="wizard.navigation.reset()">Reset</button>
      </div>
    </div>
  </wizard-step>
</wizard>
