<aw-wizard #wizard>
  <aw-wizard-step [stepTitle]="'Steptitle 1'">
    <div class="centered-content">
      <div>
        Navigate to the next step using a fixed step index.
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepIndex: 1 }">Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Steptitle 2'" #secondStep>
    <div class="centered-content">
      <div>
        Navigate to the previous step using a fixed step index.
        Navigate to the next step using a step offset.
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepIndex: 0 }">Back</button>
        <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Steptitle 3'">
    <div class="centered-content">
      <div>
        Navigate to the previous step using a step reference.
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" [awGoToStep]="secondStep">Back</button>
        <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
