* li::after {
  font-family: FontAwesome;
}

.width-50 {
  margin: auto;
  width: 50%;
}

.width-60 {
  margin: auto;
  width: 60%;
}

.width-70 {
  margin: auto;
  width: 70%;
}

.width-80 {
  margin: auto;
  width: 80%;
}

.width-90 {
  margin: auto;
  width: 90%;
}

.width-100 {
  margin: auto;
  width: 100%;
}

.bordered {
  border-style: solid;
}
