<div *ngIf="!finished">
  <div style="padding-bottom: 10px;">
    <label for="navBarLocation">Navigation bar location:</label>
    <select id="navBarLocation" [(ngModel)]="navBarLocation">
      <option value="top">top</option>
      <option value="left">left</option>
      <option value="bottom">bottom</option>
      <option value="right">right</option>
    </select>

    <label for="navBarWidth">Navigation bar width:</label>
    <select id="navBarWidth" [(ngModel)]="navBarWidth">
      <option value="none">None</option>
      <option value="width-100">100%</option>
      <option value="width-90">90%</option>
      <option value="width-80">80%</option>
      <option value="width-70">70%</option>
      <option value="width-60">60%</option>
      <option value="width-50">50%</option>
    </select>

    <label for="showBorder">Show border around wizard:</label>
    <input type="checkbox" id="showBorder" name="showBorder" [(ngModel)]="showBorder">
  </div>

  <wizard [navBarLocation]="navBarLocation" [ngClass]="{
    'width-100': navBarWidth == 'width-100',
    'width-90': navBarWidth == 'width-90',
    'width-80': navBarWidth == 'width-80',
    'width-70': navBarWidth == 'width-70',
    'width-60': navBarWidth == 'width-60',
    'width-50': navBarWidth == 'width-50',
    'bordered': showBorder
  }">
    <wizard-step title="Dough">
      <div style="margin: auto; text-align: center;">
        <div style="width: 100%; padding: 0 0 10px 0; ">
          Welcome to our pizza delivery service! <br>
          Please choose your dough: <br>

          <input type="text" id="dough" [(ngModel)]="dough">
        </div>
        <button type="button" nextStep>Choose your fillings</button>
        <button type="button" [goToStep]="{stepOffset: 2}">I want no fillings</button>
      </div>
    </wizard-step>
    <wizard-step title="Toppings" [canExit]="isStepTwoComplete" optionalStep>
      <div style="margin: auto; text-align: center;">
        <div style="width: 100%; padding: 0 0 10px 0; ">
          Your choosen dough was: {{dough}}! <br>
          Now please choose your toppings: <br>

          <div>
            <label for="topping1">1st Topping:</label>
            <input type="text" id="topping1" [(ngModel)]="topping1">
          </div>

          <div>
            <label for="topping2">2nd Topping:</label>
            <input type="text" id="topping2" [(ngModel)]="topping2">
          </div>

          <div>
            <label for="topping3">3rd Topping:</label>
            <input type="text" id="topping3" [(ngModel)]="topping3">
          </div>

          <br>
          <br>
          To go to the next step you need to select at least one topping!
        </div>
        <button type="button" nextStep>Input your delivery address</button>
      </div>
    </wizard-step>
    <wizard-step title="Delivery address">
      <div style="margin: auto; text-align: center;">
        <div style="width: 100%; padding: 0 0 10px 0; ">
          Your choosen dough was: {{dough}}! <br>
          Your choosen toppings were: {{toppings}}! <br>
          Now please input your deliver address: <br>

          <div>
            <label for="street">Street:</label>
            <input type="text" id="street" [(ngModel)]="street">
          </div>

          <div>
            <label for="country">City:</label>
            <input type="text" id="city" [(ngModel)]="city">
          </div>

          <div>
            <label for="country">Country:</label>
            <input type="text" id="country" [(ngModel)]="country">
          </div>
        </div>
        <button type="button" (click)="deliver();">Deliver my pizza!</button>
      </div>
    </wizard-step>
  </wizard>
</div>

<div *ngIf="finished">
  <table>
    <tr>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Dough</td>
      <td>{{dough}}</td>
    </tr>
    <tr>
      <td>1st Topping</td>
      <td>{{topping1}}</td>
    </tr>
    <tr>
      <td>2nd Topping</td>
      <td>{{topping2}}</td>
    </tr>
    <tr>
      <td>3rd Topping</td>
      <td>{{topping3}}</td>
    </tr>
    <tr>
      <td>Street</td>
      <td>{{street}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{city}}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{country}}</td>
    </tr>
  </table>
  <button type="button" (click)="reset();">Reset wizard</button>
</div>

<footer>
  This demo uses ng2-archwizard version 1.3.0
</footer>

