@import '../../../node_modules/angular-archwizard/variables';

.centered-content {
  margin: auto;
  text-align: center;
}

// Redefine current step styles via SCSS variables
$aw-colors: map-merge($aw-colors, (
  '_': map-merge(map-get($aw-colors, '_'), (
    'current': (
      'border-color-default': violet,
      'border-color-hover': violet,
      'background-color-default': violet,
      'background-color-hover': violet,
      'symbol-color-default': violet,
      'symbol-color-hover': violet,
    ),
    // If the current step is in 'editing' state, 'editing' state styles will override
    // the 'current' ones, so 'editing' styles should be redefined as well
    'editing': (
      'border-color-default': violet,
      'border-color-hover': violet,
      'background-color-default': violet,
      'background-color-hover': violet,
      'symbol-color-default': violet,
      'symbol-color-hover': violet,
    ),
  ))
)) !global;

aw-wizard.custom-global-scss {
  // Generate styles for our custom wizard
  @include aw-define-styles();

  // Some styles cannot be redefined using SCSS.  Fall back to CSS here
  aw-wizard-navigation-bar.horizontal ul.steps-indicator li {
    &.current {
      .label {
        color: violet;
      }
    }

    .label {
      text-transform: none;
    }
  }

  aw-wizard-step {
    .centered-content {
      background-color: #eeeeee;
      color: blue;
    }

    h3 {
      text-decoration: underline;
      color: darkblue;
    }
  }
}
