<aw-wizard #wizard>
  <aw-wizard-step>
    <ng-template awWizardStepTitle>
      Steptitle 1
    </ng-template>

    <div class="centered-content">
      <div>
        Content: Step 1
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step>
    <ng-template awWizardStepTitle>
      <span class="d-none d-md-block" style="color:red;">Steptitle 2</span>
      <span class="d-md-none">Title 2</span>
    </ng-template>

    <div class="centered-content">
      <div>
        Content: Step 2
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step>
    <ng-template awWizardStepTitle>
      Steptitle 3
    </ng-template>

    <div class="centered-content">
      <div>
        Content: Step 3
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
