<wizard #wizard>
  <wizard-step stepTitle="Steptitle 1" (stepEnter)="increaseCounter1($event)">
    <div class="centered-content">
      <div>
        You've entered the first step {{counter1}} times!
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Steptitle 2" (stepEnter)="increaseCounter2($event)">
    <div class="centered-content">
      <div>
        You've entered the second step {{counter2}} times!
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Steptitle 3" (stepEnter)="increaseCounter3($event)">
    <div class="centered-content">
      <div>
        You've entered the third step {{counter3}} times!
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="button" class="btn btn-secondary" (click)="wizard.navigation.reset()">Reset</button>
      </div>
    </div>
  </wizard-step>
</wizard>
