<aw-wizard #wizard [navBarLayout]="'large-filled-symbols'">
  <aw-wizard-step [stepTitle]="'Steptitle 1'">
    <div class="centered-content">
      <div>
        Content: Step 1
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awNextStep>Continue ➡️</button>
        <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepIndex: 2 }">Continue to Step 3 ⏩</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Steptitle 2'" awOptionalStep>
    <div class="centered-content">
      <div>
        Content: Optional Step 2
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>🔙 Back</button>
        <button type="button" class="btn btn-secondary" awNextStep>Continue ➡️</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Steptitle 3'">
    <div class="centered-content">
      <div>
        Content: Step 3
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>🔙 Back</button>
        <button type="button" class="btn btn-secondary" awNextStep>Continue ➡️</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Step title 4'" awOptionalStep>
    <div class="centered-content">
      <div>
        Content: Optional last Step 4
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awResetWizard>🗑 Reset</button>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
