.custom-css wizard-navigation-bar.horizontal ul.steps-indicator li.current div a {
  color: darkolivegreen;
}

.custom-css wizard-navigation-bar.horizontal ul.steps-indicator li div a {
  text-transform: none;
}

.custom-css wizard-step .centered-content {
  background-color: #eeeeee;
  color: #23282e;
}

.custom-css wizard-step h3 {
  text-decoration: underline;
  color: #008B8B;
}
