/* You can add global styles to this file, and also import other style files */

@import '../node_modules/angular-archwizard/archwizard';

html, body {
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
  width: 100%;
}


// Define styles for the wizard on the 'Free navigation mode' demo page.
// For this wizard (selected by a custom CSS class `.free-navigation`) we adjust
// the styling of wizard steps so that optional steps look like default ones.

@mixin free-navigation-wizard() {
  $wz-color-optional: $wz-color-default !global;

  @each $layout in 'horizontal', 'vertical' {
    aw-wizard-navigation-bar.#{$layout} {

      &.small ul.steps-indicator {
        @include wz-define-style($layout, $width: $wz-small-dot-width, $height: $wz-small-dot-height, $border-width: 0) {
          @include wz-state-circle-with-background($wz-param-indicator-color);
        }
      }

      &.large-filled ul.steps-indicator {
        @include wz-define-style($layout, $border-width: 0) {
          @include wz-state-circle-with-background($wz-param-indicator-color);
        }
      }

      &.large-empty ul.steps-indicator {
        @include wz-define-style($layout) {
          @include wz-state-circle-with-border($wz-param-indicator-color);
        }
      }

      &.large-filled-symbols ul.steps-indicator {
        @include wz-define-style($layout, $border-width: 0) {
          @include wz-state-circle-with-background-and-content($wz-param-indicator-color);
        }
      }

      &.large-empty-symbols ul.steps-indicator {
        @include wz-define-style($layout) {
          @include wz-state-circle-with-border-and-content($wz-param-indicator-color);
        }
      }
    }
  }

}

aw-wizard.free-navigation {
  @include free-navigation-wizard();
}
