/* You can add global styles to this file, and also import other style files */

@import '../node_modules/angular-archwizard/archwizard';

html, body {
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
  width: 100%;
}
