@import '../../../node_modules/angular-archwizard/styles/variables';

.centered-content {
  margin: auto;
  text-align: center;
}

// Adjust the styling of wizard steps so that optional steps look like default ones.
// (in pseudo-code, $aw-colors['_']['optional'] := $aw-colors['_']['default'])
$aw-colors: map-merge($aw-colors, (
  '_': map-merge(map-get($aw-colors, '_'), (
    'optional': map-get(map-get($aw-colors, '_'), 'default')
  ))
)) !global;
aw-wizard.custom-styling {
  @include aw-define-styles();
}
