@import '../../../node_modules/angular-archwizard/variables';

.centered-content {
  margin: auto;
  text-align: center;
}

// Adjust the styling of wizard steps so that optional steps look like default ones.
// (in preudo-code, $wz-colors['_']['optional'] := $wz-colors['_']['default'])
$wz-colors: map-merge($wz-colors, (
  '_': map-merge(map-get($wz-colors, '_'), (
    'optional': map-get(map-get($wz-colors, '_'), 'default')
  ))
)) !global;
aw-wizard.custom-styling {
  @include wz-define-styles();
}
